.env
logs/
data/temp/
data/articles.json
data/seen.json

# Bundler cache
.bundle
vendor
Gemfile.lock
docs/Gemfile.lock

# Jekyll cache
.jekyll-cache
.jekyll-metadata
_site
docs/.jekyll-cache
docs/_site

# RubyGems
*.gem

# NPM dependencies
node_modules
package-lock.json

# IDE configurations
.idea
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json

# Misc
_sass/vendors
assets/js/dist
